doctype html 
html
    head
        title Products
    body
        h1 Products
        p This is a simple example of a Pug template.
        //- ul
        //-     each product in products
        //-         li #{product.name} - #{product.price} - #{product.description}
        //- p Total Products: #{products.length}