extends ../../layouts/default
include ../../mixins/box-head

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)

        .col-3.mb-3
            .product-item
                    .inner-image
                        img(
                            src="/images/logo.png"
                            alt="Logo"
                        )
                    .inner-content
                        h3.inner-title iPhone 9
                        .inner-price-new 2000đ
                        .inner-price-old 3000đ
                        .inner-discount Giảm 1000đ